body {
    background-color: #f6f6f6;
}


/*Start Navbar Section*/

.navbar {
    color: #0078ff;
}

.navbar .navbar-brand {
    font-size: 25px;
    color: #0078ff
}

.navbar .navbar-collapse .nav-item {
    font-size: 20px;
    position: relative;
}

.navbar .navbar-collapse .nav-item .nav-link {
    color: #0078ff
}

.navbar .navbar-collapse .nav-item .bord {
    width: 0px;
    height: 2px;
    background-color: #0078ff;
    position: absolute;
    bottom: 0;
    left: 8px;
    transition: .5s width ease-in-out;
}

.navbar .navbar-collapse .nav-item:hover .bord {
    width: 35px;
}

.navbar .navbar-collapse .nav-item .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #0078ff
}

@media (max-width:992px) {
    .navbar .navbar-collapse .nav-item .bord {
        left: 0px;
    }
}


/*End Navbar Section*/


/*Start Header Section*/

.header {
    background-image: url("../img/intro-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.header .caption h1 {
    font-size: 390%
}

.header .caption p {
    font-size: 130%
}


/*animation*/

.typewriter:before {
    border-right: 3px solid #fff;
    content: "";
    display: inline-block;
    overflow: hidden;
    font-size: 1.7em;
    width: 7em;
    white-space: nowrap;
}

.animated:before {
    animation: textCursor 500ms steps(14) infinite normal, typewriter 5s steps(20) 1s infinite alternate;
}

@keyframes textCursor {
    from {
        border-color: (255, 255, 255, .75)
    }
    to {
        border-color: transparent
    }
}

@keyframes typewriter {
    0% {
        width: 0;
        content: "web developer"
    }
    40% {
        width: 8em;
        content: "web developer"
    }
    60% {
        width: 0;
        content: "web developer"
    }
    80% {
        width: 8em;
        content: "web designer"
    }
    100% {
        width: 0;
        content: "web designer"
    }
}


/*End Header Section*/


/*Start About Me Section*/

.about-me .right h2 {
    position: relative;
}

.about-me .right h2::after {
    content: '';
    width: 100px;
    height: 5px;
    background-color: #0078ff;
    position: absolute;
    top: 50px;
    left: 0px;
    border-radius: 5px;
}

@media (max-width:991px) {
    .about-me img {
        width: 120%;
        margin-top: 15px;
    }
}

@media (max-width:767px) {
    .about-me img {
        width: 30%
    }
}


/*End About Me Section*/